<!-- <section *ngIf="item" style="text-align:center">
    <h1>Details page</h1>
    <p>Item ID: <strong>{{ item.id }}</strong> </p>
    <p>User ID: <strong>{{ item.userId }}</strong></p>
    <p>Title: {{ item.title }}</p>
    <p>Body: {{ item.body }}</p>
</section> -->
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label>
    Edit title:
    <input type="text" formControlName="title" />
  </label>
  <label>
    Edit body:
    <textarea type="text" formControlName="body"></textarea>

    {{  profileForm.controls.body?.errors | json }}
    <!-- <div *ngIf="profileForm.controls.body.errors.required">
      Body is required
    </div> -->
    <div *ngIf="profileForm.controls.body.invalid && (profileForm.controls.body.dirty || profileForm.controls.body.touched)">

      <div *ngIf="profileForm.controls.body.errors.required">
        Body is required.
      </div>

      <div *ngIf="profileForm.controls.body.errors.minlength">
        Body must be at least 6 characters long.
      </div>

    </div>

    <div *ngIf="profileForm.controls.title.invalid && (profileForm.controls.title.dirty || profileForm.controls.title.touched)">
      <div *ngIf="profileForm.controls.title.errors.required">
        Title is required.
      </div>

      <div *ngIf="profileForm.controls.title.errors.minlength">
        Title must be at least 4 characters long.
      </div>
    </div>

  </label>
  
  <p>Value {{ profileForm.value | json }}</p>
  <button>
    Update
  </button>

  <button type="button">
    Cancel
  </button>

</form>


