<section *ngIf="item" style="text-align:center">
    <h1>Edit page</h1>
    <p>Item ID: <strong>{{ item.id }}</strong> </p>
    <p>User ID: <strong>{{ item.userId }}</strong></p>
    <p>Title: {{ item.title }}</p>
    <p>Body: {{ item.body }}</p>
</section>

<img *ngIf="loading" src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      Edit title:
      <input type="text" formControlName="title" />
    </label>
    <div *ngIf="profileForm.dirty && profileForm.controls.title.errors">
      <div *ngIf="profileForm.controls.title.errors.required" style="color: red">Title is required!</div>
      <div *ngIf="profileForm.controls.title.errors.minlength" style="color: red">Title must be at least 4 characters!</div>
    </div>
  </div>
  
  <div>
    <label>
      Edit body:
      <textarea type="text" formControlName="body"></textarea>

    </label>
    <div *ngIf="profileForm.dirty && profileForm.controls.body.invalid">
      <div *ngIf="profileForm.controls.body.errors.required" style="color: red">Body is required!</div>
      <div *ngIf="profileForm.controls.body.errors.minlenght" style="color: red">Body must be at least 6 characters!</div>
    </div>
  </div>

  <p>Value {{ profileForm.value | json }}</p>
  <button>
    Update
  </button>

  <button (click)="redirectToPostsPage()">
    Cancel
  </button>

  <section *ngIf="formSubmit" style="text-align:center">
    <h1>Edit page</h1>
    <p>Item ID: <strong>{{ item.id }}</strong> </p>
    <p>User ID: <strong>{{ item.userId }}</strong></p>
    <p>Title: {{ item.title }}</p>
    <p>Body: {{ item.body }}</p>
  </section>


</form>


